@mixin lines-circle-gradient($color) {
  @include radial-gradient(circle, farthest-side, 35%, 35%, $white, $color);
}

@mixin lines-circle-animate($key-frames-name) {
  animation: #{$key-frames-name} 500ms linear forwards;
}

$colors: (
  'red': $red,
  'green': $green,
  'blue': $blue,
  'cyan': $cyan,
  'gold': $gold,
  'purple': $purple,
);

.lines-circle {
  @include square(70%);

  border-radius: 50%;

  @each $name, $color in $colors {
    $key-frames-name: white-to-#{$name};

    @keyframes #{$key-frames-name} {
      from {
        background-color: $white;
      }

      to {
        background-color: $color;
        @include lines-circle-gradient($color);
        opacity: 1;
      }
    }

    &_#{$key-frames-name} {
      @include lines-circle-animate($key-frames-name);
    }
  }

  @each $name, $color in $colors {
    $key-frames-name: #{$name}-to-white;

    @keyframes #{$key-frames-name} {
      from {
        background-color: $color;
        @include lines-circle-gradient($color);
        opacity: 1;
      }

      to {
        background-color: $white;
      }
    }

    &_#{$key-frames-name} {
      @include lines-circle-animate($key-frames-name);
    }
  }

  @each $prev-name, $prev-color in $colors {
    @each $next-name, $next-color in $colors {
      @if ($prev-name != $next-name) {
        $key-frames-name: #{$prev-name}-to-#{$next-name};

        @if ($prev-name != $next-name) {
          @keyframes #{$key-frames-name} {
            from {
              background-color: $prev-color;
              @include lines-circle-gradient($prev-color);
              opacity: 1;
            }

            25%,
            75% {
              opacity: 0;
            }

            to {
              background-color: $next-color;
              @include lines-circle-gradient($next-color);
              opacity: 1;
            }
          }
        }

        &_#{$key-frames-name} {
          @include lines-circle-animate($key-frames-name);
        }
      }
    }
  }
}
