@keyframes no-way-here {
  0% {
    color: $light-yellow;
    font-size: 0.25rem;
  }

  50% {
    opacity: 1;
    font-size: 0.75rem;
    color: $lemon-chiffon;
  }

  100% {
    color: $light-golden-rod-yellow;
    font-size: 1rem;
  }
}

.lines-playing-field-square {
  @include flex-center;

  @include border($direction: left, $width: $border-width, $style: solid, $color: $nero);
  @include border($direction: top, $width: $border-width, $style: solid, $color: $nero);

  @include square($square-size);

  &_last-row {
    @include border($direction: bottom, $width: $border-width, $style: solid, $color: $nero);
  }

  &_last-column {
    @include border($direction: right, $width: $border-width, $style: solid, $color: $nero);
  }

  @include lines-mq-medium-down {
    @include square($square-size-small);
  }

  transition: background-color 500ms ease-out;
  position: relative;

  &_inaccessible {
    background-color: $bordeaux;

    &::before {
      content: attr(data-inaccessible-message);
      position: absolute;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 700;
      font-style: italic;
      width: $square-size;
      z-index: 1;
      animation: no-way-here 750ms ease-out;
      white-space: pre;
    }
  }
}
