@keyframes no-way-here {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.lines-playing-field-square {
  @include flex-center;

  @include border($direction: left, $width: $border-width, $style: solid, $color: $nero);
  @include border($direction: top, $width: $border-width, $style: solid, $color: $nero);

  @include square($square-size);

  &_last-row {
    @include border($direction: bottom, $width: $border-width, $style: solid, $color: $nero);
  }

  &_last-column {
    @include border($direction: right, $width: $border-width, $style: solid, $color: $nero);
  }

  @include lines-mq-medium-down {
    @include square($square-size-small);
  }

  transition: background-color 500ms ease-out;
  position: relative;

  &_inaccessible {
    background-color: $bordeaux;

    &::before,
    &::after {
      left: 50%;
      transform: translateX(-50%);
      display: block;
      opacity: 1;
      pointer-events: none;
      position: absolute;
      box-sizing: border-box;
      line-height: 1;
      font-size: 1.2em;
      animation: no-way-here 500ms ease-out;
    }

    &::before {
      bottom: 100%;
      border: 5px solid transparent;
      border-bottom-width: 0;
      border-top-color: $dimgray;
      content: '';
      z-index: 100;
    }

    &::after {
      bottom: calc(100% + 5px);
      content: attr(data-inaccessible-message);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 6px 8px;
      border-radius: 3px;
      background: $dimgray;
      color: $white;
      z-index: 99;
    }
  }
}
