.lines-playing-field-square {
  @include border($direction: left, $width: $border-width, $style: solid, $color: $nero);
  @include border($direction: top, $width: $border-width, $style: solid, $color: $nero);

  width: $square-size;
  height: $square-size;

  &_last-row {
    @include border($direction: bottom, $width: $border-width, $style: solid, $color: $nero);
  }

  &_last-column {
    @include border($direction: right, $width: $border-width, $style: solid, $color: $nero);
  }

  @include lines-mq-medium-down {
    width: $square-size-small;
    height: $square-size-small;
  }
}
