// colors
$nero: #1c1c1c;
$white: #ffffff;
$red: #ff0000;
$green: #008000;
$blue: #0000ff;
$cyan: #00ffff;
$gold: #ffd700;
$purple: #800080;
$bordeaux: #550a21;
$dimgray: #696969;

// widths
$border-width: 1px;
$square-size-small: 30px;
$square-size: 60px;
$shadow-blur-default: 10px;

// media breakpoints
$screen-small: 500px;
$screen-medium: 760px;
$screen-larger: 1000px;

$colors: (
  'red': $red,
  'green': $green,
  'blue': $blue,
  'cyan': $cyan,
  'gold': $gold,
  'purple': $purple,
);
