@mixin position-absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

@mixin border-none($direction) {
  border-#{$direction}: none;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

@mixin box-shadow(
  $shift-right: 0,
  $shift-down: 0,
  $blur-radius: $shadow-blur-default,
  $spread-radius: 0,
  $color: $nero,
  $inset: false
) {
  @if $inset {
    -webkit-box-shadow: inset $shift-right $shift-down $blur-radius $spread-radius $color;
    -moz-box-shadow: inset $shift-right $shift-down $blur-radius $spread-radius $color;
    box-shadow: inset $shift-right $shift-down $blur-radius $spread-radius $color;
  } @else {
    -webkit-box-shadow: $shift-right $shift-down $blur-radius $spread-radius $color;
    -moz-box-shadow: $shift-right $shift-down $blur-radius $spread-radius $color;
    box-shadow: $shift-right $shift-down $blur-radius $spread-radius $color;
  }
}
